nav(class='navbar navbar-expand-lg navbar-light bg-light')
  span(id='site_navbar-info' class='container justify-content-start')
    a(href='#')
      img(src='/assets/images/logo.png' alt='Logo' height='50px')
    span(id='navbar-username' class='navbar-text m-2')= username
    a(href='/logout')
      button(id='logout-btn' type='button' class='btn btn-outline-secondary m-2') Logout