nav(class='navbar navbar-expand-lg navbar-light bg-light')
  span(id='site_navbar-info' class='container justify-content-start')
    a(href='#')
      img(src='/assets/images/logo.png' alt='Logo' height='50px')