-var title = "Patients"

html
  head
    include ../partials/head.pug 
    script(defer type='text/javascript' src='/scripts/past_data.js')

  body(class='h-100 d-flex flex-column') 
    include ../partials/authorized_appbar.pug

    div(id='cards_container' class='overflow-auto flex-grow-1')

      each patient_info in patient_infos
          .w-75.m-auto 
            .card.m-3.p-2 
              div
              b patient aadhaar: 
              =patient_info.aadhaar
              a(href='/patient_past_data/view?patient=' + patient_info.wallet_address)
                button(class='btn btn-success btn mt-2') view patient data


    div.text-center
      button(id='back_btn' type='button' class='btn btn-primary btn-lg m-5' style='width:150px;') Back