-var title = "Authorize Hospital Requests"

html
  head
    include ../partials/head.pug 
    script(defer type='text/javascript' src='/scripts/authorize_hospital_requests.js')

  body(class='h-100 d-flex flex-column') 
    include ../partials/authorized_appbar.pug

    div(id='cards_container' class='overflow-auto flex-grow-1')

    div.text-center
      button(id='back_btn' type='button' class='btn btn-primary btn-lg m-5' style='width:150px;') Back