-var title = "Error"

html
  head
    include ../partials/head.pug 
    script(defer type='text/javascript' src='/scripts/authorize.js')

  body(class='h-100 d-flex flex-column') 
    include ../partials/authorized_appbar.pug

    div(id='container' class='d-flex align-items-center justify-content-center flex-grow-1')
      h2= error_msg