-var title = "Dashboard"

html
  head
    include ../partials/head.pug 
    script(defer type='text/javascript' src='/scripts/hospital_dashboard.js')

  body(class='h-100 d-flex flex-column') 
    include ../partials/authorized_appbar.pug

    
    div(id='container' class='d-flex align-items-center justify-content-center flex-grow-1')
      div(class='d-flex flex-column')
        button(id='add_record_btn' type='button' class='btn btn-primary btn-lg m-2') Add New Patient Record
        button(id='patient_past_data_btn' type='button' class='btn btn-primary btn-lg m-2') View Patient Past Data
        button(id='hospital_activity_btn' type='button' class='btn btn-primary btn-lg m-2') View Hospital Activity
        button(id='edit_profile_btn' type='button' class='btn btn-primary btn-lg m-2') Edit Profile